$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.step-by-step{
  .popover{
    color:white;
    background: red;
  }

  .popover-title{
    background-color: darken(red, 20%);
    border-bottom: none;
  }
  .popover.bottom .arrow:after{
     border-bottom-color: red;
  }
  .popover.top .arrow:after{
     border-top-color: red;
  }
  .popover.left .arrow:after{
     border-left-color: red;
  }
  .popover.right .arrow:after{
     border-right-color: red;
  }
}
