<div class="modal-header">
  <h3>External popup window</h3>
</div>
<form ng-submit="submit()" step-by-step step-by-step-data="data" class="form-horizontal">
  <div class="modal-body">
      <div class="form-group">
        <label class="control-label col-lg-3" for="userNameInput">User name</label>
        <div class="col-lg-7">
          <input type="text" id="userNameInput" name="userNameInput" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-3" for="passwordInput">Password</label>
        <div class="col-lg-7">
          <input type="password" id="passwordInput" name="passwordInput" class="form-control"/>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-warning" ng-click="cancel()" value="Cancel">
    <input type="submit" class="btn primary-btn" value="Submit" id="submitButton" />
  </div>
</form>